<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Парсер новостей</title>
    <link href="template/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
   	<div class="container">	
   	  <div class="row">
       <div class="col-md-6">
   	    <h1 class="">Парсер новостей</h1>
       </div>
       <div class="col-md-6"> 
   	  	<button style="margin-top: 10px;" id="reflesh" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Обновление" type="button" class="btn btn-primary btn-lg pull-right">Обновить</button>
   	   </div>
   	  </div>
   	  <div class="row">
        <div class="col-md-12" id="results">
          {% block content %}
          {% endblock %}
        </div>
	    </div>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="template/js/bootstrap.min.js"></script>
    <script>
      $(function(){
        $('.btn').on('click', function (){
          $("#results").css({'opacity': '0.3'});
          $(this).button('loading');
            
          $.ajax({
            url: "index.php?task=parse",
            cache: false,
            success: function(html){
              $('.btn').button('reset'); 
              $("#results").css({'opacity': '1'}).html(html);
            }
          });
        });
      });
   </script>
  </body>
</html>